.Activities {
    margin: auto;
    margin-top: .5em;
    color: white;
    background-color: rgb(70, 69, 69, .3);
    width: 80%;
    border-radius: 1em;
    text-align: left;
    padding-bottom: .5em;
    padding-top: .5em;
}

.Activities p {
    font-weight: bold;
    text-align: center;
}

.LoaderButton {
    margin: auto;
}
