.NewActivity .form-container {
  display: inline-block;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  width: 90%;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    height: 1.2em;
    margin-top: 1em;
    margin-left: 1.5em;
    width: 100%;
    color: white;
    /* border-radius: 0.2em; */
}

.input-div {
  margin-bottom: 1em;
}