.activities {
    text-align: center;
    color: rgb(199, 196, 196);
    width: 100%;
}

.activities .list-container {
    display: inline-block;
    width: 100%;
    margin: auto;
}

#activity-button {
    font-size: .7em;
    color: rgb(226, 225, 225);
    height: 5em;
    background-color: rgb(54, 54, 54);
    width: 90%;
    /* padding-left: 3em;
    padding-right: 3em; */
}

#title-div {
    font-size: 1.25em;
    font-weight: bold;
}

ListGroupItem {
    background-color: black;
}

