.App {
  margin-top: 15px;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: rgb(37, 37, 37);
  opacity: 1.0;
}

.App .navbar {
  background-color: rgb(32, 32, 32);
  border-right: 0.15em solid rgba(253, 3, 3, 0.842);
  border-left: hidden;
  border-top: hidden;
  border-bottom: 0.15em solid rgba(253, 3, 3, 0.842);;
  box-sizing: border-box;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  width: 96.5%;
  height: 55%;
  margin-left: 2em;
  margin-top: 0.5em;
}

.App .navbar-brand {
  font-weight: bold;
  color: rgb(189, 186, 186);
}

#signup {
  font-weight: bold;
  color: rgb(192, 189, 189);
}

#login {
  font-weight: bold;
  color: rgb(192, 189, 189);
}

.guest-container {
  background-color: white;
}

